.guarant-service {
  background-color: var(--bg-primary-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  backdrop-filter: blur(10px);
  margin-bottom: var(--spacing-md);
}

.title--guarant-service {
  font-size: var(--font-size-xl);
  padding-bottom: var(--spacing-md);
}

.guarant-service .link--guarant-service {
  text-decoration: underline;
}

.guarant-service__text {
  max-width: 800px;
}
