.footer{
  background-color: var(--bg-secondary);
  padding: var(--spacing-sm);
  border-top: 1px solid var(--border-primary);
}

.footer__address{
  display: flex;
  justify-content: center;
}

.footer__copyright{
  text-align: center;
}