.main {
  background-image: url(/src/assets/img/main-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.container--main {
  z-index: 1;
  position: relative;
}

.main__title {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  text-align: center;
  margin: var(--spacing-md) 0;
}
